  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Oswald);
  @font-face {
      font-family: 'atomic-age';
      src: url(atomic-age.woff) format('truetype')
  }
  
  @font-face {
      font-family: 'fabian';
      src: url(fabian.woff) format('truetype'), url(fabian.tff) format('truetype')
  }
  
  .logo {
      font-family: 'fabian', Fallback, 'Oswald';
  }
  
  .large {
      font-size: 40px;
  }
  
  nav {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  /* label color */
  
  .input-field label {
      color: #000;
  }
  
  .input-field placeholder {
      color: #000;
  }
  /* label focus color */
  
  .input-field input[type=text]:focus + label {
      color: #000;
  }
  /* label underline focus color */
  
  .input-field input[type=text]:focus {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  
  .input-field input[type=text].valid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  
  .input-field input[type=text].invalid {
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  
  .input-field .prefix.active {
      color: #000;
  }
  
  ::-webkit-input-placeholder {
      /* WebKit browsers */
      
      color: black;
      opacity: 1 !important;
  }