  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  @import url(http://fonts.googleapis.com/css?family=Oswald);
  @font-face {
      font-family: 'atomic-age';
      src: url(atomic-age.woff) format('truetype')
  }
  
  @font-face {
      font-family: 'fabian';
      src: url(fabian.woff) format('truetype'), url(fabian.tff) format('truetype')
  }
  
  .logo {
      font-family: 'fabian', Fallback, 'Oswald';
  }
  
  .large {
      font-size: 40px;
  }
  
  nav {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }